<template>
  <v-container class="v-container--fluid">
    <v-row>
      <v-col>
        <v-card>
          <v-form v-model="isValid">
            <v-container class="v-container--fluid">
              <v-row>
                <v-col class="d-flex flex-column my-auto">
                  <base-date-picker
                    label="Data od"
                    v-model="dateFrom"
                  />
                </v-col>
                <v-col class="d-flex flex-column my-auto">
                  <base-date-picker
                    label="Data do"
                    v-model="dateTo"
                  />
                </v-col>
                <v-spacer/>
                <v-col class="d-flex flex-column my-auto">
                  <div class="heading-5 text-gray-700 font-weight-bold pb-1">
                    Ilość ostatnich wpisów z przedziału
                  </div>
                  <v-text-field
                    variant="outlined"
                    bg-color="white"
                    v-model="perPage"
                    :rules="[
                    v => !!v && isNumber(v) && v > 0 || 'Wartość musi być poprawną liczbą dodatnią!',
                    v => v <= 500 || 'Wartość nie może być większa niż 500!'
                  ]"
                  />
                </v-col>
                <v-col class="flex-grow-0 my-auto">
                  <v-btn
                    :disabled="!isValid"
                    color="primary"
                    prepend-icon="mdi-refresh"
                    @click.stop="fetchAll"
                  >
                    Szukaj
                  </v-btn>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        v-for="(type, index) in types"
        :key="`type_${ type.id }`"
        :cols="6"
      >
        <v-card>
          <v-card-title class="d-flex">
            {{ type.name }}
            <v-spacer/>
            <v-btn
              icon="mdi-refresh"
              color="primary"
              @click.stop="fetchData(type.id)"
            />
          </v-card-title>
          <v-divider/>
          <v-card-text>
            <base-line-chart
              v-if="!loading"
              :chart-data="data[type.id]"
            />
          </v-card-text>
          <v-divider/>
          <v-card-actions>
            <v-radio-group
              v-model="types[index].instance"
              :inline="true"
              :hide-details="true"
              @update:model-value="fetchData(type.id, types[index].instance)"
            >
              <v-radio
                v-for="elem in [1,2,3,4]"
                :label="`Sensor #${ elem }`"
                :value="elem"
              />
              <v-radio
                label="Wszystkie"
                :value="0"
              />
            </v-radio-group>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <filters-drawer
    v-model:active="filtersDrawerActive"
    v-model:filters="filters"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import BaseLineChart from '@/components/chart/BaseLineChart.vue';
import axios from 'axios';
import buildQuery from '@/procedures/build-query';
import { format } from 'date-fns';
import FiltersDrawer from '@/views/sensors-data/components/FiltersDrawer.vue';
import { isNumber } from 'chart.js/helpers';
import BaseDatePicker from '@/components/date-picker/BaseDatePicker.vue';

export default defineComponent({
  name: 'StatisticsView',
  components: { BaseDatePicker, FiltersDrawer, BaseLineChart },
  data() {
    return {
      filtersDrawerActive: false,
      filters: {
        dateFrom: '',
        dateTo: '',
        type: '',
        instance: '',
      },
      types: [
        { name: 'Temperatura powietrza', id: 'temp', instance: 0, loading: false },
        { name: 'Poziom CO2', id: 'co2', instance: 0, loading: false },
        { name: 'Poziom oświetlenia', id: 'light', instance: 0, loading: false },
        { name: 'pH gleby', id: 'pH', instance: 0, loading: false },
      ],
      data: {
        'temp': {},
        'co2': {},
        'light': {},
        'pH': {},
      },
      colors: [
        '#6b20b9',
        '#49d875',
        '#81e3db',
        '#c2666d',
      ],
      loading: true,
      perPage: 10,
      isValid: true,
      inline: undefined,
      dateFrom: undefined,
      dateTo: undefined,
    };
  },
  watch: {
    filters: {
      handler() {
        this.fetchAll();
      },
      deep: true,
    },
  },
  async created() {
    this.loading = true;
    await this.fetchAll();
    this.loading = false;
  },
  methods: {
    isNumber,
    async fetchAll() {
      await Promise.all([
        this.fetchData('temp'),
        this.fetchData('co2'),
        this.fetchData('light'),
        this.fetchData('pH'),
      ]);
    },
    async fetchData(type: string, instance: number | undefined = undefined) {
      const index = this.types.findIndex(e => e.id === type);
      this.types[index].loading = true;
      const query = {
        page: 1,
        perPage: this.perPage,
        filters: JSON.stringify({
          ...this.filters,
          type,
          instance: instance ? instance + '' : '',
          dateFrom: this.dateFrom || '',
          dateTo: this.dateTo || '',
        }),
        sortBy: 'timestamp',
        order: 'desc',
      };
      const { data: { items } } = await axios.get(`/SensorsData${ buildQuery(query) }`);
      const test = Array.from(items).map(({ instance, timestamp, value }) => ({
        instance,
        timestamp,
        value,
      })).sort((a, b) => a.timestamp - b.timestamp);
      let labels = test.map(e => e.timestamp).filter((value, index, array) => array.indexOf(value) === index);

      const groups = {};

      test.forEach(({ instance, timestamp, value }) => {
        groups[instance] = groups[instance] ?? [];
        groups[instance].push({ instance, timestamp, value });
      });

      const xxx = {};

      labels.forEach(tstamp => {
        Object.entries(groups).forEach(([instance, values]) => {
          xxx[instance] = xxx[instance] ?? [];
          xxx[instance].push(values.find(e => e.timestamp === tstamp)?.value);
        });
      });

      labels = test.map(e => e.timestamp).filter((value, index, array) => array.indexOf(value) === index)
        .map(e => format(new Date(e * 1000), 'Y-MM-dd HH:mm:ss'));

      const datasets = Object.entries(xxx).reduce((acc, [instance, values]) => {
        acc.push({
          label: `Sensor #${ instance }`,
          backgroundColor: this.colors[instance - 1],
          borderColor: this.colors[instance - 1],
          data: values,
        });
        return acc;
      }, []);

      this.data = {
        ...this.data,
        [type]: {
          labels,
          datasets,
        },
      };
      this.types[index].loading = false;
    },
  },
});
</script>
