<template>
  <v-app>
    <v-app-bar
      :order="1"
      :floating="false"
      color="primary"
    >
      <v-app-bar-nav-icon @click="navigationActive = !navigationActive"/>
      <v-app-bar-title>
        Plantacja paprotników
      </v-app-bar-title>
    </v-app-bar>
    <v-navigation-drawer color="primary" :model-value="navigationActive">
      <template #prepend>
        <div class="pa-16"/>
      </template>
      <v-list :nav="true">
        <v-list-item
          prepend-icon="mdi-monitor-dashboard"
          :active="['home-view', 'dashboard-view'].includes($route.name)"
          @click="$router.push({ name: 'dashboard-view' })"
        >
          Dashboard
        </v-list-item>
        <v-list-item
          prepend-icon="mdi-database"
          :active="['sensors-data-view'].includes($route.name)"
          @click="$router.push({ name: 'sensors-data-view' })"
        >
          Dane sensorów
        </v-list-item>
        <v-list-item
          prepend-icon="mdi-finance"
          :active="['statistics-view'].includes($route.name)"
          @click="$router.push({ name: 'statistics-view' })"
        >
          Statystyki
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Default',
  data() {
    return {
      navigationActive: true,
    };
  },
});
</script>
