<template>
  <v-container class="v-container--fluid">
    <v-row>
      <v-col
        v-for="sensor in sensors"
        :key="`sensor_${ sensor.Type }_${ sensor.Instance }`"
        :cols="3"
      >
        <v-card>
          <v-card-title class="d-flex">
            Sensor #{{ sensor.Instance }}
            <v-spacer/>
            <v-icon color="primary">{{ sensorIcon(sensor.Type) }}</v-icon>
          </v-card-title>
          <v-divider/>
          <v-card-text class="d-flex flex-column">
            <div class="d-flex">
              <div class="d-flex flex-column align-center w-50">
                <h1 class="d-flex py-4">
                  {{ sensor.Value }}
                </h1>
                <div class="text-caption text-center">
                  Ostatnia wartość
                </div>
              </div>
              <v-divider :vertical="true"/>
              <div class="d-flex flex-column align-center w-50">
                <h1 class="d-flex py-4">
                  {{ sensor.Avg }}
                </h1>
                <div class="text-caption text-center">
                  Średnia 100 ostatnich
                </div>
              </div>
            </div>
            <div class="d-flex text-caption justify-end pt-4">
              Zaktualizowano: {{ sensor.Timestamp }}
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { io, Socket } from 'socket.io-client';
import { format } from 'date-fns';

interface Data {
  sensors: { Avg: string, Instance: number, Timestamp: string, Type: string, Unit: string, Value: string }[],
  types: { name: string, id: string, icon: string }[],
  socket: Socket | undefined
}

export default defineComponent({
  name: 'Dashboard',
  data(): Data {
    return {
      sensors: [],
      types: [
        { name: 'Temperatura powietrza', id: 'temp', icon: 'mdi-temperature-celsius' },
        { name: 'Poziom CO2', id: 'co2', icon: 'mdi-molecule-co2' },
        { name: 'Poziom oświetlenia', id: 'light', icon: 'mdi-lightbulb' },
        { name: 'pH gleby', id: 'pH', icon: 'mdi-ph' },
      ],
      socket: undefined,
    };
  },
  mounted() {
    ['temp', 'co2', 'light', 'pH'].forEach(type => {
      for (let i = 0; i < 4; ++i) {
        this.sensors.push({ Instance: i + 1, Type: type, Avg: '0', Value: '0', Timestamp: '', Unit: '' });
      }
    });
  },
  created() {
    this.socket = io(import.meta.env.VITE_SOCKET_URL);
    this.socket.on('dashboard', ({ Instance, Type, Value, Avg, Unit }) => {
      const index = this.sensors.findIndex(e => e.Instance === Instance && e.Type === Type);
      this.sensors.splice(index, 1, {
        Instance,
        Type,
        Value,
        Avg,
        Unit,
        Timestamp: format(new Date(), 'Y-MM-dd HH:mm:ss'),
      });
    });
  },
  beforeUnmount() {
    this.socket?.close();
  },
  methods: {
    sensorIcon(type: string) {
      return this.types.find(e => e.id === type)?.icon;
    },
  },
});
</script>
