<template>
  <v-navigation-drawer
    :model-value="active"
    @update:model-value="$emit('update:active', $event)"
    :temporary="true"
    location="right"
    :width="400"
  >
    <v-container class="v-container--fluid">
      <v-row>
        <v-col :cols="12">
          <h1>Filtry</h1>
        </v-col>
        <v-col :cols="12">
          <base-date-picker
            label="Data od"
            v-model="filters.dateFrom"
          />
        </v-col>
        <v-col :cols="12">
          <base-date-picker
            label="Data do"
            v-model="filters.dateTo"
          />
        </v-col>
        <v-col :cols="12">
          <base-autocomplete
            label="Typ sensora"
            :items="types"
            v-model="filters.type"
            :return-object="false"
          />
        </v-col>
        <v-col :cols="12">
          <base-autocomplete
            label="Instancja"
            :items="instances"
            v-model="filters.instance"
            :return-object="false"
          />
        </v-col>
      </v-row>
    </v-container>
  </v-navigation-drawer>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import BaseDatePicker from '@/components/date-picker/BaseDatePicker.vue';
import BaseAutocomplete from '@/components/autocomplete/BaseAutocomplete.vue';

export default defineComponent({
  name: 'FiltersDrawer',
  components: { BaseAutocomplete, BaseDatePicker },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    filters: {
      type: Object,
      default: () => ({}),
    },
  },
  emits: [
    'update:active',
  ],
  data() {
    return {
      types: [
        { name: 'Temperatura powietrza', id: 'temp' },
        { name: 'Poziom CO2', id: 'co2' },
        { name: 'Poziom oświetlenia', id: 'light' },
        { name: 'pH gleby', id: 'pH' },
      ],
      instances: [
        { name: 'Sensor 1', id: '1' },
        { name: 'Sensor 2', id: '2' },
        { name: 'Sensor 3', id: '3' },
        { name: 'Sensor 4', id: '4' },
      ],
    };
  },
});
</script>
