<template>
  <div class="heading-5 text-gray-700 font-weight-bold pb-1">
    {{ label }}
  </div>
  <v-text-field
    type="date"
    variant="outlined"
    class="text-gray-500"
    :hide-details="true"
    :model-value="modelValue"
    @update:model-value="updateModelValue"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'BaseDatePicker',
  props: {
    label: {
      type: String,
      default: '',
    },
    modelValue: {
      type: String,
      default: '',
    },
  },
  emits: [
    'update:model-value',
    'update:errors',
  ],
  methods: {
    updateModelValue(value: any) {
      this.$emit('update:model-value', value);
      this.$emit('update:errors', undefined);
    },
  },
});
</script>
