<template>
  <v-container class="v-container--fluid">
    <v-row>
      <v-col :cols="12" class="text-right">
        <v-btn
          color="primary"
          class="mr-4"
          prepend-icon="mdi-filter"
          @click.stop="filtersDrawerActive = !filtersDrawerActive"
        >
          Filtruj
        </v-btn>
        <v-btn
          color="primary"
          class="mr-4"
          @click.stop="downloadJson"
        >
          Pobierz JSON
        </v-btn>
        <v-btn
          color="primary"
          @click.stop="downloadCsv"
        >
          Pobierz CSV
        </v-btn>
      </v-col>
    </v-row>
    <v-row v-if="usedFilters.length">
      <v-col>
        <v-card>
          <v-card-title>
            Zastosowane filtry
          </v-card-title>
          <v-card-text>
            <v-chip
              v-for="([key, value], index) in usedFilters"
              :key="`filter_${ key }`"
              color="primary"
              variant="flat"
              class="mr-2"
            >
              {{ keyName(key) }}: {{ value }}
            </v-chip>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card>
          <base-table
            :headers="headers"
            :items="items"
            :pagination="pagination"
            @update:pagination="onPaginationUpdate"
            @update:sort-by="onSortByUpdate"
          />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  <filters-drawer
    v-model:active="filtersDrawerActive"
    v-model:filters="filters"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import axios from 'axios';
import FiltersDrawer from '@/views/sensors-data/components/FiltersDrawer.vue';
import buildQuery from '@/procedures/build-query';
import { format } from 'date-fns';
import BaseTable from '@/components/data-table/BaseTable.vue';
import PaginationMixin from '@/mixins/PaginationMixin';
import { Pagination } from '@/types/Pagination';

export default defineComponent({
  name: 'SensorsDataView',
  components: { BaseTable, FiltersDrawer },
  mixins: [
    PaginationMixin,
  ],
  data() {
    return {
      headers: [
        { title: 'Sensor', key: 'instance' },
        { title: 'Typ sensora', key: 'type' },
        { title: 'Wartość', key: 'value' },
        { title: 'Jednostka', key: 'unit' },
        { title: 'Data odczytu', key: 'timestamp' },
      ],
      items: [],
      filtersDrawerActive: false,
      filters: {
        dateFrom: '',
        dateTo: '',
        type: '',
        instance: '',
      },
      types: [
        { name: 'Temperatura powietrza', id: 'temp', icon: 'mdi-temperature-celsius' },
        { name: 'Poziom CO2', id: 'co2', icon: 'mdi-molecule-co2' },
        { name: 'Poziom oświetlenia', id: 'light', icon: 'mdi-lightbulb' },
        { name: 'pH gleby', id: 'pH', icon: 'mdi-ph' },
      ],
      loading: false,
      sortBy: {},
    };
  },
  watch: {
    filters: {
      handler() {
        this.fetchData();
      },
      deep: true,
    },
  },
  computed: {
    usedFilters() {
      return Object.entries(this.filters).filter(([key, value]) => !!value);
    },
  },
  created() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      this.loading = true;
      const query = {
        ...this.pagination,
        ...this.sortBy,
        filters: JSON.stringify(this.filters),
      };
      const { data: { items, pagination } } = await axios.get(`/SensorsData${ buildQuery(query) }`);
      this.updatePagination(pagination);
      this.items = items.map(e => ({
        ...e,
        type: this.sensorType(e.type),
        timestamp: format(new Date(e.timestamp * 1000), 'Y-MM-dd HH:mm:ss'),
      }));
      this.loading = false;
    },
    onPaginationUpdate(pagination: Pagination) {
      this.pagination = { ...pagination };
      this.fetchData();
    },
    onSortByUpdate([{ key, order } = {}]) {
      this.sortBy = (!key || !order) ? {} : { sortBy: key, order };
      this.fetchData();
    },
    sensorType(type: string) {
      return this.types.find(e => e.id === type)?.name;
    },
    keyName(key: string) {
      if (key === 'dateFrom') return 'Data od';
      if (key === 'dateTo') return 'Data do';
      if (key === 'type') return 'Typ sensora';
      if (key === 'instance') return 'Instancja';
      return 'INVALID KEY';
    },
    async downloadJson() {
      const query = {
        ...this.pagination,
        ...this.sortBy,
        filters: JSON.stringify(this.filters),
      };
      const { data } = await axios.get(`/SensorsData/download${ buildQuery(query) }`, {
        headers: {
          Accept: 'application/json',
        },
      });

      this.downloadFile(`${ new Date().getTime() }.json`, 'data:application/json;charset=UTF-8,' + encodeURIComponent(JSON.stringify(data)));
    },
    async downloadCsv() {
      const query = {
        ...this.pagination,
        ...this.sortBy,
        filters: JSON.stringify(this.filters),
      };
      const { data } = await axios.get(`/SensorsData/download${ buildQuery(query) }`, {
        headers: {
          Accept: 'text/csv',
        },
      });

      this.downloadFile(`${ new Date().getTime() }.csv`, 'data:text/csv;charset=UTF-8,' + encodeURIComponent(data));
    },
    downloadFile(fileName: string, urlData: string) {
      const aLink = document.createElement('a');
      aLink.download = fileName;
      aLink.href = urlData;
      aLink.click();
      aLink.parentNode.removeChild(aLink);
    },
  },
});
</script>
