<template>
  <v-data-table
    style="max-height: calc(100vh - 64px - 48px - 36px - 8px)"
    :fixed-header="true"
    :headers="headers"
    :items="items"
    :items-per-page="localPagination.perPage"
    :page="localPagination.page"
    :multi-sort="false"
    @update:sort-by="$emit('update:sort-by', $event)"
  >
    <template #bottom>
      <v-divider/>
      <div class="d-flex align-center justify-end pa-4">
        <div class="text-caption text-gray-700 pr-4">
          Elementów na stronie:
        </div>
        <v-select
          class="d-flex flex-grow-0"
          :flat="true"
          density="compact"
          :hide-details="true"
          :chips="true"
          :items="[5, 10, 25, 50, 100]"
          :model-value="localPagination.perPage"
          @update:model-value="updatePagination('perPage', $event)"
          bg-color="transparent"
        >
          <template #chip="{ item }">
            <v-chip class="bg-primary text-white">
              {{ item.value }}
            </v-chip>
          </template>
        </v-select>
        <v-icon
          :class="['ml-4', localPagination.page === 1 ? 'text-gray-300' : 'text-gray-700']"
          @click.stop="localPagination.page !== 1 ? updatePagination('page', 1) : function (){}"
          :size="24"
        >
          mdi-page-first
        </v-icon>
        <v-icon
          :class="['ml-4', localPagination.page === 1 ? 'text-gray-300' : 'text-gray-700']"
          @click.stop="localPagination.page > 1 ? updatePagination('page', localPagination.page - 1) : function (){}"
          :size="24"
        >
          mdi-chevron-left
        </v-icon>
        <div class="text-gray-700 ml-4">
          {{ localPagination.page }} / {{ localPagination.total }}
        </div>
        <v-icon
          :class="['ml-4', localPagination.page >= localPagination.total ? 'text-gray-300' : 'text-gray-700']"
          @click.stop="localPagination.page < localPagination.total ? updatePagination('page', localPagination.page + 1) : function (){}"
          :size="24"
        >
          mdi-chevron-right
        </v-icon>
        <v-icon
          :class="['ml-4', localPagination.page === localPagination.total ? 'text-gray-300' : 'text-gray-700']"
          @click.stop="localPagination.page !== localPagination.total ? updatePagination('page', localPagination.total) : function (){}"
          :size="24"
        >
          mdi-page-last
        </v-icon>
      </div>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { DataTableHeader } from '@/types/vuetify/DataTableHeader';
import { DefaultPagination, Pagination } from '@/types/Pagination';

interface Data {
  localHeaders: DataTableHeader[],
  localPagination: Pagination,
}

export default defineComponent({
  name: 'BaseTable',
  props: {
    headers: {
      type: Array as PropType<DataTableHeader[]>,
      required: true,
    },
    items: {
      type: Object as PropType<any[]>,
      required: true,
    },
    pagination: {
      type: Object as PropType<Pagination | undefined>,
      default: DefaultPagination(),
    },
  },
  emits: [
    'update:items-per-page',
    'update:page',
    'update:pagination',
    'update:sort-by',
  ],
  data(): Data {
    return {
      localHeaders: [],
      localPagination: DefaultPagination(),
    };
  },
  watch: {
    pagination: {
      handler(newValue) {
        this.localPagination = DefaultPagination({ ...this.localPagination, ...newValue });
      },
      immediate: true,
    },
  },
  methods: {
    updatePagination(key: string, value: number) {
      this.localPagination = { ...this.localPagination, [key]: value };
      this.$emit('update:pagination', this.localPagination);
    },
  },
});
</script>
