<template>
  <router-view/>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'App',
});
</script>

<style lang="scss">
@import "@/assets/scss/app";

.v-main {
  background: url('http://localhost:3000/seedling-1062908_1920.jpg') no-repeat center center fixed !important;
  background-size: cover;
}
</style>
