<template>
  <div class="heading-5 text-gray-700 font-weight-bold pb-1">
    {{ label }}
  </div>
  <v-autocomplete
    variant="outlined"
    class="text-gray-500"
    :hide-details="true"
    :items="items"
    :model-value="modelValue"
    @update:model-value="$emit('update:model-value', $event)"
    :item-title="item => itemTitleCallback(item)"
    :item-value="item => itemValueCallback(item)"
    :return-object="returnObject"
    :clearable="true"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'BaseAutocomplete',
  props: {
    label: {
      type: String,
      default: '',
    },
    modelValue: {
      type: Object,
      default: undefined,
    },
    items: {
      type: Array,
      default: () => ([]),
    },
    itemTitleCallback: {
      type: Function,
      default: item => item.name,
    },
    itemValueCallback: {
      type: Function,
      default: item => item.id,
    },
    returnObject: {
      type: Boolean,
      default: true,
    },
  },
  emits: [
    'update:model-value',
  ],
});
</script>
